.container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Центрує по горизонталі */
        justify-content: center; /* Центрує по вертикалі */
        gap: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw; /* 100% ширини екрану */
        height: 100vh; /* 100% висоти екрану */
        background-image: url('/public/backfon.png'); /* Додаємо фонове зображення */
        background-size: cover; /* Налаштовуємо фонове зображення на покриття екрану */
        background-position: center; /* Центруємо фонове зображення */
        background-attachment: fixed; /* Фіксуємо фонове зображення */
        color: #4b4b4b; /* Колір тексту */
        font-size: 16px; /* Розмір шрифту */
        line-height: 1.6; /* Висота рядка */
}





.textStyle {
        font-family: 'Arial', sans-serif; /* Шрифт Arial */
        font-size: 36px; /* Розмір шрифту */
        font-weight: bold; /* Товщина шрифту */
        text-transform: uppercase; /* Усі літери великі */
        color: white; /* Колір тексту */
        text-align: center; /* Вирівнювання тексту */
        letter-spacing: 2px;
}


.imgmoveleft {
        transform: translateX(-465px); /* Це перемістить зображення вліво на 50px */
}

.imageup {
        top: calc(50% - 10px);
        position: absolute;
}

