.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрує по горизонталі */
    justify-content: center; /* Центрує по вертикалі */
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* 100% ширини екрану */
    height: 100vh; /* 100% висоти екрану */
    background-image: url('/public/images/backfon.png');

    background-size: cover; /* Налаштовуємо фонове зображення на покриття екрану */
    background-position: center; /* Центруємо фонове зображення */
    background-attachment: fixed; /* Фіксуємо фонове зображення */
    color: #4b4b4b; /* Колір тексту */
    font-size: 16px; /* Розмір шрифту */
    line-height: 1.6; /* Висота рядка */
}




.title {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.description {
    font-size: 16px;
    color: #fff;
}

.contactList {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.contactItem {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.contactItem:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.textitem {


    font-family: 'Arial', sans-serif; /* Шрифт Arial */
    font-size: 36px; /* Розмір шрифту */
    font-weight: bold; /* Товщина шрифту */
    text-transform: uppercase; /* Усі літери великі */
    color: white; /* Колір тексту */
    text-align: center; /* Вирівнювання тексту */
    letter-spacing: 2px;
    transform: translateY(-60px);

}


