.foto {
    display: block;
    margin: 250px auto 0;
    width: 617px; /* Стандартна ширина */
    height: auto; /* Автоматична висота */
    object-fit: contain;
    transform: translateX(-345px);
    padding: 40px;
    max-width: 100%; /* Запобігає виходу за межі екрану */
    position: relative;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;   /* Додає вертикальний скрол */
    overflow-x: hidden; /* Забороняє горизонтальний */
}


@media (max-width: 1024px) {
    .foto {
        left: 250px;
    }

}

/* ====== Телефони ====== */
@media (max-width: 768px) {
    .foto {
        margin: 150px auto 0;
        width: 75%;
        transform: translateX(-270px);
    }
}

/* ====== iPhone 8 - iPhone 16 ====== */
@media (max-width: 480px) {
    .foto {
        margin: 120px auto 0;
        width: 85%;
        transform: translateX(-51px);
        left: 30px;
    }
}

/* ====== Маленькі телефони ====== */
@media (max-width: 375px) {
    .foto {
        margin: 100px auto 0;
        width: 90%;
        transform: translateX(-60px); /* тут була помилка: -40 → -40px */
    }
}
