.container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: clamp(100px, 15vh, 250px);
    padding-left: clamp(20px, 5vw, 430px);
}

.foto {
    width: clamp(250px, 100vw, 617px);
    height: auto;
    object-fit: contain;
    max-width: 100%;
    position: relative;
    left: 35px;
    top: 230px; /* 🔽 Зсув саме фото вниз */
}


/* Телефони */
@media (max-width: 768px) {
    .foto {
        margin: 150px auto 0;
        width: 75%;
        transform: translateX(-60px);
    }
}

/* iPhone 8 - 16 */
@media (max-width: 480px) {
    .foto {
        margin: 120px auto 0;
        width: 85%;
        transform: translateX(-51px);
    }
}

/* Маленькі телефони */
@media (max-width: 375px) {
    .foto {
        margin: 100px auto 0;
        width: 90%;
        transform: translateX(-60px);
    }
}
