/* Загальні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; /* Загальний шрифт Arial */
}

body {
    background-image: url('/public/front.png'); /* Додаємо фон */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #4b4b4b;
    font-size: 16px;
    line-height: 1.6;
}

/* Контейнер */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Заголовки */
h1, h2 {
    font-family: 'Candy', cursive; /* Стилізований шрифт */
    color: #ff1493; /* Яскраво-рожевий */
    text-align: center;
    letter-spacing: 2px; /* Додати відстань між буквами */
}

/* Навігація */
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #ff1493;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #ff69b4;
    transform: scale(1.1); /* Легке збільшення при наведенні */
}

/* Розділ про гру */
.about {
    background-color: #ffffff;
    padding: 50px 30px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 20px;
    color: #6a6a6a;
}

/* Кнопка в футері */
footer {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    color: white;
    margin-top: 40px;
    border-radius: 10px;
}

footer p {
    font-size: 1.2rem;
}

/* Фон background3.1 */
.background3 {
    position: absolute;
    width: 910px;
    height: 1920px;
    left: 0px;
    top: 910px;

    transform: rotate(-90deg);
}
