.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-image: url('../../public/images/background/frontfon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}




